@charset"UTF-8"

/* タブレット */
html {
  font-size: 100%;  
}
  
body {
  font-family: "neue-haas-grotesk-display", "heisei-kaku-gothic-std", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 13px;  
  line-height: 1.7;
  color: #000000;
  position: absolute;
  
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ヘッダー */
.page-header {
  position: sticky;
  float: left;
  padding: 0px 20px; 
  box-sizing: border-box;
  top: 0; 
  left: 0; 
}

.menu{
  width: 50px;
  position: absolute;
  right: 20px; 
}

.about{
  width: 50px;
  position: absolute;
  right: 200px; 
  
}

.cover {
  background-color: #FFFFFF;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.text {
  max-width: 736px;
  padding: 0 1.5rem;
  margin: 3rem auto 4rem;
}