

body {
  
  height:500px;
  font-family: HK Grotesk;
  background-image: url(https://cdn.glitch.global/f03dfeb0-8dc6-4bd6-99a3-ee0802fad404/POYO_arata-04.png?v=1705724844642);
  background-size: contain;
  background-position: center;
  background-color: #000000;
  background-repeat: no-repeat;
}
.sora{
  color: #ffffff;
  font-size:30px;
}
.sora p{
  
}

#riku{
  color: #ffffff;
  font-size:30px;
}
/*  クラスの場合は.から*/
.title {
  color: #ffffff;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 105%;
  margin: 0;
}


.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}


